@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our social media</h1>


    <button type="button" class="btn btn-outline-success"> 
        <a class="nav-link text-dark" asp-controller="User_v3" asp-action="Create">Register</a>
    </button>
    <button type="button" class="btn btn-outline-info">
        <a class="nav-link text-dark" asp-controller="User_v3" asp-action="Login">Login</a>
    </button>
       
    </li>
</div>