@model User_v3

<form method="post" asp-action="Login">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Login</h2>
            <hr/>
        </div>

        @*<div asp-validation-summary="All"></div>*@

        <div class="mb-3">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
            <button type="submit" class="btn btn-outline-success" style="width:150px">Login</button>
            
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info" style="width:150px">Back to main</a>
       
        </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}